.flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.preloader {
    width: 50%;
}

.dots .dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 6px 0 6px;
    border-radius: 50%;
    background: #fff;
    -webkit-animation: dot-dot-dot 1.4s linear infinite;
    animation: dot-dot-dot 1.4s linear infinite;
}

.dots .dot:nth-child(2) {
    animation-delay: 0.2s;
}

.dots .dot:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes dot-dot-dot {
    0%,
    60%,
    100% {
        -webkit-transform: initial;
        -ms-transform: initial;
        transform: initial;
    }
    30% {
        -webkit-transform: translateY(-25px);
        -ms-transform: translateY(-25px);
        transform: translateY(-25px);
    }
}
